.gpt3__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gpt3__brand div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  max-width: 15px;
  min-width: 120px;
  margin: 1rem;
}